<div class = "container">
  <div class = "row">
    <div class = "col-12" style="margin-top: 20px">
      <h1>Formulario</h1>
      <form [formGroup]="formulario" (submit) = "onSubmit(formulario)">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingresa nombre" formControlName="nombre">
          <div *ngIf="formulario.controls.nombre.errors" class="error-imput">
            el campo tiene un error
          </div>
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingresa apellido" formControlName="apellido">
          <div *ngIf="formulario.controls.apellido.errors" class="error-imput">
            el campo tiene un error
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa email" formControlName="email">
          <div *ngIf="formulario.controls.email.errors" class="error-imput">
            el campo tiene un error
          </div>
        </div>
        <div *ngIf="!formulario.controls.nombre.errors && !formulario.controls.apellido.errors && !formulario.controls.email.errors else boton">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <ng-template #boton>
          <button type="submit" disabled class="btn btn-primary">Guardar</button>
        </ng-template>
        <p>Lorem Ipsum es simplemente 111111el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
        <h1></h1>
      </form>
    </div>
  </div>
</div>


